.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.idea/
.vscode/
.vs/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/.kotlin/
android/local.properties
coverage/
.env
server/.env
server/
server.rar
backend*.log
